// Variables
$background-color: #121212;
$container-bg: #1e1e1e;
$text-color: #e0e0e0;
$accent-color: #76c7c0;
$hover-color: #5ab2a4;
$input-border: #444;
$suffix-color: #888;

// Global styles
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

// Container styles
.container {
  text-align: center;
  background: $container-bg;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $accent-color;
  }

  .input-wrapper {
    position: relative;
    margin: 10px 0;

    // Input styles
    .input-text {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid $input-border;
      border-radius: 5px;
      background-color: darken($container-bg, 10%);
      color: $text-color;
      font-size: 16px;
      outline: none;
      transition: all 0.3s ease;

      &:focus {
        border-color: $accent-color;
        box-shadow: 0 0 5px $accent-color;
      }
    }

    // Suffix
    .input-suffix {
      position: absolute;
      top: 50%;
      right: 12px; // Ajuste selon l'espacement désiré
      transform: translateY(-50%);
      color: $suffix-color;
      font-size: 16px;
      pointer-events: none; // Empêche l'interaction avec le suffixe
    }
  }

  // Button styles
  .submit-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: $accent-color;
    color: $background-color;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  background-color: darken($container-bg, 5%);
  border-bottom: 1px solid $input-border;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;

  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: $text-color;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: $container-bg;
      color: $accent-color;
      font-weight: bold;
      border-bottom: 2px solid $accent-color;
    }

    &:hover {
      background-color: darken($container-bg, 10%);
    }
  }
}
